<!DOCTYPE html>
<html lang="pt-br" ng-app="LaraApp">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Larica's Pizzaria</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/forms.css">
	<link rel="stylesheet" href="css/pizzaria.css">
	<link rel="stylesheet" href="css/pedido.css">
	<link rel="stylesheet" href="css/contato.css">
	<link rel="stylesheet" href="css/social.css">
	<link rel="stylesheet" href="css/offline.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.0/css/bulma.min.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>

<body ng-class="{ 'offline' : !online }">
	<header ng-controller="CoreCtrl as vm" class="header-primary">
		<h1>
			<a href="#">Larica's Pizzaria</a>
		</h1>

		<nav class="nav-primary">
			<ul>
				<li><a href="#pizzaria-area" title="A Pizzaria">A Pizzaria</a></li>
				<li><a href="#pedido-area" title="Pedido">Pedido</a></li>
				<li><a href="#contato-area" title="Contato">Contato</a></li>
				<li><a href="#social-area" title="Social">Social</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section ng-controller="AboutCtrl as vm" id="pizzaria-area" class="content-area pizzaria-area">
			<aside>
			<!-- controls -->
				<video poster="http://dummyimage.com/640x360/4d494d/686a82.gif">
					<source
						src="http://media.w3.org/2010/05/sintel/trailer.mp4"
						type="video/mp4">

					<source
						src="http://media.w3.org/2010/05/sintel/trailer.ogg"
						type="video/ogg">
				</video>

				<div class="video-controls">
					<svg
						id="playBtn"
						class="video-buttons"
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24">

						<path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z"/>
					</svg>

					<svg
						id="pauseBtn"
						class="video-buttons"
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24">

						<path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 17h-3v-10h3v10zm5-10h-3v10h3v-10z"/>
					</svg>

					<p id="videoDuration" class="video-duration"></p>
				</div>
			</aside>

			<aside>
				<h2>A Pizzaria</h2>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, similique vitae libero explicabo! Odio alias hic sunt vitae autem, enim quaerat nihil quo laboriosam minima suscipit omnis, tenetur consectetur quibusdam atque. Eum laudantium ad corporis assumenda, magnam harum totam adipisci explicabo molestias necessitatibus vero, dolores illo enim, neque cum, possimus maiores? Consequatur eius soluta ipsum labore ratione beatae quos illo accusantium officiis corporis facere error, at porro, possimus, necessitatibus architecto iure. Nisi vero sed iusto adipisci similique laudantium sint modi accusantium inventore id, facilis dicta voluptates quasi quas necessitatibus autem dolor velit, beatae quos consequatur, illo numquam repellat quaerat..</p>

				<br>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro laboriosam vero fuga reiciendis! Quos aperiam, quibusdam officiis saepe magnam, unde officia dolores veniam illo enim eveniet, laborum minima corporis blanditiis autem maxime quo fuganobis commodi. Obcaecati mollitia, praesentium, facilis at perferendis quod impedit assumenda exercitationem autem dicta corporis quo!</p>
			</aside>
		</section>

		<section ng-controller="PedidoCtrl as vm" id="pedido-area" class="content-area pedido-area">
			<aside>
				<h2>Pedido</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eum at animi commodi pariatur ipsam aperiam, placeat eligendi, illo hic.</p>

				<br><br>

				<div ng-if="vm.resumo.nome" class="pedido-details">
					<p>Olá <b>{{vm.resumo.nome}}</b>, você pediu uma pizza <b>{{vm.resumo.tamanho}}</b>, que contém os seguintes ingredientes: <b>{{vm.resumo.ingredientes}}</b>. Seu pedido será entregue no endereço <b>{{vm.resumo.endereco}}</b>, qualquer dúvida a gente entra em contato no telefone <b>{{vm.resumo.telefone}}</b>, uma cópia do pedido foi enviado pro email <b>{{vm.resumo.email}}</b>.</p>

					<br><br>
					<p>Bom apetite!</p>
				</div>
			</aside>

			<aside>
				<form ng-submit="vm.novoPedido()" class="form-primary" id="form-pedido">
					<div>
						<fieldset>
							<label for="nome">Nome</label>
							<input
								type="text"
								id="nome"
								ng-model="vm.form.nome"
								placeholder="nome e sobrenome">
						</fieldset>

						<fieldset>
							<label for="email">E-mail</label>
							<input
								type="email"
								id="email"
								ng-model="vm.form.email"
								placeholder="usuario@email.com">
						</fieldset>

						<fieldset>
							<label for="endereco">Endereço</label>
							<input
								type="text"
							 	id="endereco"
							 	ng-model="vm.form.endereco"
							 	placeholder="Rua que fica logo ali..">
						</fieldset>

						<fieldset>
							<label for="cep">CEP</label>
							<input
								type="tel"
								id="cep"
								ng-model="vm.form.cep"
								ng-model-options="{ debounce: 1000 }"
								ng-change="vm.searchCep()"
								maxlength="10"
								placeholder="99-999-999">
						</fieldset>

						<fieldset>
							<label for="telefone">Telefone</label>
							<input
								type="tel"
								id="telefone"
								ng-model="vm.form.telefone"
								maxlength="15"
								placeholder="(99) 99999-9999">
						</fieldset>
					</div>

					<div>
						<fieldset>
							<label for="tamanho">Tamanho da Pizza</label>
							<input
								type="radio"
								name="tamanho"
								data-legend="10 pessoas"
								ng-model="vm.form.tamanho"
								value="G"
								class="pizzas pz-grande">

							<input
								type="radio"
								name="tamanho"
								data-legend="6 pessoas"
								ng-model="vm.form.tamanho"
								value="M"
								class="pizzas pz-media">
							<input
								type="radio"
								name="tamanho"
								data-legend="2 pessoas"
								ng-model="vm.form.tamanho"
								value="P"
								class="pizzas pz-pequena">
						</fieldset>

						<fieldset>
							<label for="ingredientes">Ingredientes</label>
							<input
								type="checkbox"
								name="ingredientes"
								ng-model="vm.form.ingredientes"
								value="mussarela"
								class="ingredientes mussarela">
							<input
								type="checkbox"
								name="ingredientes"
								ng-model="vm.form.ingredientes"
								value="picles"
								class="ingredientes picles">
							<input
								type="checkbox"
								name="ingredientes"
								ng-model="vm.form.ingredientes"
								value="cebola"
								class="ingredientes cebola">
							<input
								type="checkbox"
								name="ingredientes"
								ng-model="vm.form.ingredientes"
								value="tomate"
								class="ingredientes tomate">
							<input
								type="checkbox"
								name="ingredientes"
								ng-model="vm.form.ingredientes"
								value="alface"
								class="ingredientes alface">
						</fieldset>
					</div>

					<button type="submit">Pronto!</button>
				</form>
		</aside>
		</section>

		<section ng-controller="ContatoCtrl as vm" id="contato-area" class="content-area contato-area">
			<aside>
				<div id="map-container" class="map-container"></div>
			</aside>

			<aside>
				<h2>Contato</h2>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, molestiae.</p>

				<br>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quisquam repellat natus cum nobis alias sapiente, veritatis atque qui soluta..</p>
			</aside>

			<aside>
				<h2>Horário</h2>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, molestiae.</p>

				<br>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quisquam repellat natus cum nobis alias sapiente, veritatis atque qui soluta..</p>
			</aside>
		</section>

		<section ng-controller="SocialCtrl as vm" id="social-area" class="content-area social-area">
			<aside>
				<a href="https://www.facebook.com" target="_blank" title="Facebook">
					<figure>
						<img src='images/icons/facebook.svg'/>
						<figcaption>Facebook</figcaption>
					</figure>
				</a>
			</aside>

			<aside>
				<a href="https://www.twitter.com" target="_blank" title="Twitter">
					<figure>
						<img src='images/icons/twitter.svg'/>
						<figcaption>Twitter</figcaption>
					</figure>
				</a>
			</aside>

			<aside>
				<a href="https://www.github.com" target="_blank" title="Github">
					<figure>
						<img src='images/icons/github.svg'/>
						<figcaption>Github</figcaption>
					</figure>
				</a>
			</aside>

			<aside>
				<a href="https://www.instagram.com" target="_blank" title="Instagram">
					<figure>
						<img src='images/icons/instagram.svg'/>
						<figcaption>Instagram</figcaption>
					</figure>
				</a>
			</aside>
		</section>
	</main>

	<footer class="footer-primary">
		<small>2016 - Todos os direitos reservados.</small>
	</footer>

	<!-- Scripts / Libs -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js">
	</script>
	<script
		src="https://maps.googleapis.com/maps/api/js?signed_in=true">
	</script>

	<!-- App -->
	<script src="js/app.js"></script>
	<script src="js/app.config.js"></script>
	<script src="js/app.constants.js"></script>

	<!-- Módulos -->
	<script src="js/modules/core.js"></script>
	<script src="js/modules/about.js"></script>
	<script src="js/modules/pedido.js"></script>
	<script src="js/modules/contato.js"></script>
	<script src="js/modules/social.js"></script>

	<!-- Controllers -->
	<script src="js/controllers/core.js"></script>
	<script src="js/controllers/about.js"></script>
	<script src="js/controllers/pedido.js"></script>
	<script src="js/controllers/contato.js"></script>
	<script src="js/controllers/social.js"></script>

	<!-- Services -->
	<script src="js/services/cep.js"></script>
	<script src="js/services/mapa.js"></script>
	<script src="js/services/storage.js"></script>
</body>

</html>
